* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Inter", sans-serif;
  --primary-color: #ff3030;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8 rem;
}

.navigation {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.navigation:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("hero.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: calc(100vh-5rem);
}

.main-heading {
  font-family: "Lobster", cursive;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.subtitle {
  color: #ddd;
  font-family: "Inter", sans-serif;
}
.opening-hours {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  text-decoration: none;
  margin-top: 4rm;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-family: "Inter", sans-serif;
  width: fit-content;
}

.opening-hours:hover {
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 600px) {
  .main-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .opening-hours,
  .opening-hours:hover {
    padding: 1.2rem 2.5rem;
  }
  .nav-bar {
    gap: 2rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .main-heading {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .nav-bar {
    gap: 4rem;
  }
}

.about-us {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  gap: 2rem;
}

.text {
  align-items: center;
}

.second-heading {
  color: #ddd;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  border-bottom: 1px solid var(--primary-color);
}

.menu-button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  text-decoration: none;
  margin-top: 4rm;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  font-family: "Inter", sans-serif;
  width: fit-content;
}

.menu-button:hover {
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.right-column-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
img {
  width: 10rem;
}
