html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: "Inter", sans-serif;
  --primary-color: #ff3030;
  --text-color: #ddd;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 5rem;
  gap: 1rem;
  font-size: 0.8 rem;
}

.navigation {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.navigation:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("hero.jpg");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: calc(100vh - 5rem);
}

.main-heading {
  font-family: "Lobster", cursive;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.subtitle {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

.button {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  width: fit-content;
  display: inline-block;
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.opening-hours {
  padding: 1rem 2rem;
}

.menu-button {
  padding: 1rem;
  margin-top: 1rem;
}

.container {
  max-width: 85%;
  margin: 10px auto;
}
.about-us {
  display: grid;
  gap: 2rem;
  padding: 10px;
  color: var(--text-color);
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.second-heading {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 2rem 0.1 rem 0;
  width: fit-content;
  border-bottom: 1px solid var(--primary-color);
}

.about-us-text {
  color: var(--text-color);
  font-size: 0.9rem;
}

.images {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
}

.about-us-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-column-images,
.right-column-images {
  width: 50%;
}

.left-column-images {
  min-width: 50%;
  height: auto;
}

.right-column-images {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
}

@media only screen and (min-width: 600px) {
  .main-heading {
    font-size: 4rem;
    line-height: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .opening-hours,
  .opening-hours:hover {
    padding: 1.2rem 2.5rem;
  }
  .nav-bar {
    gap: 2rem;
    font-size: 1rem;
  }
  .about-us-text {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1000px) {
  .main-heading {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .nav-bar {
    gap: 4rem;
  }
  .about-us {
    align-items: center;
    margin-top: 6rem;
  }
  .second-heading {
    font-size: 2rem;
  }

  .about-us {
    grid-template-columns: 1fr 1fr;
    margin: 6rem;
    align-items: center;
  }
  .about-images,
  .right-column-images {
    gap: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
